<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contest | Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="loginjs/app.js"></script>
    <script src="loginjs/config.js"></script>
    <script src="loginjs/factory.js"></script>
    <script src="loginjs/controller.js"></script>
    <script src="js/directive.js"></script>
</head>

<body ng-app="loginmodule" ng-controller="registerctrl">
    <c-header></c-header>
    <jumbo-title></jumbo-title>
    <div class="container">
        <form method="post">
            <div class="card card-inverse" style="background-color:#333; border-color:#333; border-radius:2.5rem;">
                <h3 class="display-4 text-center mt-4"><b>Register!</b></h3>
                <hr style="width:15rem;border-top: 1px solid white;">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="row my-3">
                            <div class="col-sm-6">
                                <label>First Name </label>
                                <input type="text" placeholder="First Name" ng-model="newUser.name.fname" class="form-control" autofocus> </div>
                            <div class="col-sm-6">
                                <label>Last Name</label>
                                <input type="text" placeholder="Last Name" ng-model="newUser.name.lname" class="form-control"> </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-12">
                                <label>Address</label>
                                <input type="text" placeholder="Address" ng-model="newUser.address" class="form-control"> </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-6">
                                <label>Email </label>
                                <input type="email" placeholder="Email" ng-model="newUser.email" class="form-control"> </div>
                            <div class="col-sm-6">
                                <label>Phone Number</label>
                                <input type="text" placeholder="Phone Number" ng-model="newUser.phone" class="form-control"> </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-12">
                                <label>Username </label>
                                <input type="text" placeholder="Username" ng-model="newUser.userid" class="form-control"> </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-6">
                                <label>Password</label>
                                <input type="password" placeholder="Password" ng-model="newUser.pass" class="form-control"> </div>
                            <div class="col-sm-6">
                                <label>Confirm Password</label>
                                <input type="password" placeholder="Repeat Password" ng-model="newUser.cpass" class="form-control"> </div>
                        </div>
                        <div class="row">
                            <div class="mx-auto my-5 btn-group">
                                <button class="btn btn-info" ng-click="register()">Submit</button>
                                <button class="btn btn-secondary" ng-click="clear()">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </form>
        <div class="alert alert-danger mt-3" ng-if="serverresult"> {{serverresult}} </div>
        <div class="mt-4 row"> <a href="login.html" class="text-center btn btn-outline-success mx-auto">Have an account? <b>Log In</b> instead!</a> </div>
    </div>
    <hr>
    <c-footer></c-footer>
</body>

</html>